:root {
  --primary-color: green;
  --secondary-color: red;
  --primary-font: Arial, sans-serif;
  --font-size-large: 1.4rem;
  --font-size-medium: 1.2rem;
  --font-size-small: 1rem;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
}

.container {
  margin: 0 auto;
  padding: 1.25rem 3.125rem 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.questins {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 1.25rem;
}

.quiz-container h1 {
  text-align: center;
  font-size: var(--font-size-large);
}

li {
  width: 100%;
}

li button {
  width: 100%;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

button {
  margin: 0.3125rem;
  padding: 0.625rem 1.25rem;
  font-size: 0.9em;
  border: 1px solid;
  text-align: left;
  color: black;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d7d7d7;
}

button:disabled {
  background-color: #ccc;
}

.correct {
  background-color: var(--primary-color);
  color: white;
}

button:disabled.correct {
  background-color: var(--primary-color);
  color: white;
}

.incorrect {
  color: var(--secondary-color);
}

@media screen and (max-width: 48rem) {
  .quiz-container h1 {
    font-size: var(--font-size-medium);
  }

  .container {
    justify-content: start;
  }

  .quiz-container {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 30rem) {
  .quiz-container h1 {
    font-size: var(--font-size-small);
  }

  .container {
    padding: 1.25rem 0.3125rem 0;
  }
} 